<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2>All Blogs</h2>
    <p>Welcome to the about page of Blog Ninja. Here you can find information about our blog and its purpose.</p>
    <p>Blog Ninja is dedicated to sharing insightful articles and tutorials on various topics. Whether
  </div>
  <%- include('./partials/footer.ejs') %>

</body>
</html>
